@charset "utf-8";
:root {
  --primary-color: #e5c570;
}

body img {
  border: none;
}

#dropdownnav {
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0;
}

/* Burger Menu Styles */
.burger-menu {
  display: none; /* Hidden by default */
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
}

.burger-line {
  width: 30px;
  height: 4px;
  background-color: #333;
  margin: 5px 0;
}

/* Desktop Styles */
#dropdownnav .logo {
  height: 6em;
  padding: 1.5em;
  margin-right: auto;
  margin-left: 35px;
  will-change: filter;
  transition: filter 300ms;
}

#dropdownnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#dropdownnav ul li {
  margin: 0 15px;
}

#dropdownnav ul li a {
  padding: 10px 15px;
  color: #333;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  text-transform: none;
}

#dropdownnav ul li a:hover {
  color: var(--primary-color);
}

/* For Mobile - Show Burger Menu */
@media (max-width: 768px) {
  #dropdownnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #dropdownnav ul {
    display: none; /* Hide the menu items by default */
    flex-direction: column; /* Stack the items vertically */
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
  }

  #dropdownnav ul li {
    width: 100%;
    text-align: center;
  }

  .burger-menu {
    display: flex; /* Show the burger icon on small screens */
  }

  #dropdownnav ul li a {
    padding: 10px 20px; /* Adjust padding for better touch interaction */
    font-size: 16px; /* Adjust font size */
  }

  #dropdownnav ul li a:hover {
    background-color: #f1f1f1;
    color: var(--primary-color);
  }

  /* Show menu when active */
  #dropdownnav.active ul {
    display: flex; /* Show the menu when 'active' class is added */
  }

  #dropdownnav ul ul {
    display: block; /* Make submenus visible */
    position: relative;
  }
}
